@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>

<div class="jumbotron alert-danger">
    <p class="text-danger h1">@ViewBag.StatusMessage</p>

    @Html.ActionLink("Go back", (string)ViewBag.ActionName, (string)ViewBag.ControllerName, null, new { @class = "btn btn-outline-dark ml-5" })
</div>

