@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/custom/get_from_server.js")

    <div class="jumbotron">
        <h1>RentC</h1>
        <p class="lead">RentC - your brand new solution to store and manage data.</p>
        @if (true)
        {
            
        }
        @if (HttpContext.Current.Session["perms"] != null)
        {

            @Html.DisplayText(HttpContext.Current.Session["Permissions"].ToString());
        }

    </div>
<div class="row">
    <div class="col-md-4">
        @if (TempData["LoginFunction"] != null)
        {
            <script type="text/javascript">
                @Html.Raw(TempData["LoginFunction"])
            </script>
        }
        <h2>Welcome to RentC</h2>
        <p>
            Your brand new solution
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>