.pl-24 {
    padding-left: 24rem !important;
}

.mr-12 {
    margin-right: 21rem !important;
}

.dot-red {
    padding-left: 6px;
    height: 10px;
    width: 10px;
    background-color: #4d0000;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    padding-left: 6px;
    height: 10px;
    width: 10px;
    background-color: #009933;
    border-radius: 50%;
    display: inline-block;
}

.badge-silver {
    color: #1b1917;
    background-color: #bfbfbf;
}

.badge-gold {
    color: #1b1917;
    background-color: #ffd633;
}

a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}